:root {
  /* Primary Colors */
  --color-primary-blue: hsl(218, 83%, 93%);
  --color-primary-pink: hsl(357, 73%, 94%);
  --color-primary-yellow: hsl(37, 86%, 92%);

  /* Neutral Colors */
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-300: hsl(220, 13%, 91%);
  --color-neutral-400: hsl(217, 10%, 84%);
  --color-neutral-600: hsl(219, 9%, 65%);
  --color-neutral-800: hsl(217, 24%, 17%);
  --color-neutral-900: hsl(222, 36%, 11%);

  /* Font Family */
  --ff-base: 'Outfit', sans-serif;

  /* Font Size */
  --fs-48: 3rem;
  --fs-40: 2.5rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --fs-18: 1.125rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;
  --fs-12: 0.75rem;
  --fs-10: 0.625rem;

  /* Default Font Size */
  --fs-base: var(--fs-16);
  /* Font Weights */
  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;
  --fw-200: 200;
  --fw-100: 100;

  /* Spacing */
  --spacing-4: 0.25rem;
  --spacing-6: 0.375rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-28: 1.75rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
}

/********* Reset **********/
/* Stop any animation if the user has set their device to "prefers reduced motion". */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    animation-duration: 0.1s !important;
    transition-duration: 0.1s !important;

    scroll-behavior: smooth;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-400);
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  line-height: 1.6;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.wrapper {
  margin-inline: auto;
}

/********* Typography **********/
h2,
h3 {
  color: var(--color-neutral-200);
  line-height: 1.2;
}

h2.page__title {
  font-size: var(--fs-40);
  font-weight: var(--fw-600);
  margin-bottom: var(--spacing-16);
  max-width: 15ch;
  margin-inline: auto;
}

h3 {
  font-size: var(--fs-20);
  font-weight: var(--fw-600);
}

/********* Header Styles **********/
.header {
  text-align: center;
  padding-inline: var(--spacing-24);
  padding-block: var(--spacing-48);
}

/********* Features Styles **********/
.features {
  display: grid;
  gap: var(--spacing-48);
  grid-template-columns: repeat(auto-fit, minmax(280px, 316px));
  justify-content: center;
  padding-block-end: var(--spacing-48);
}

.feature__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-16);
  background-color: var(--color-neutral-800);
  border-radius: 16px;
  padding: var(--spacing-24);
}

@media (min-width: 800px) and (max-width: 1024px) {
  .features > *:last-child:nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

.icon {
  display: grid;
  place-items: center;
  font-size: var(--fs-24);
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.yellow {
  background-color: var(--color-primary-yellow);
}

.blue {
  background-color: var(--color-primary-blue);
}

.pink {
  background-color: var(--color-primary-pink);
}

.feature__card p {
  max-width: 20ch;
}

.feature__card img {
  border-radius: 8px;
}
